@model MvcBootstrap.Models.Instructor

@using MvcBootstrap.ViewModels;
@using MvcBootstrap.Helpers;

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="well">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Instructor</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, HtmlHelpers.LabelAttributes())
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.LastName, HtmlHelpers.TextBoxAttributes("Last Name"))
                @Html.ValidationMessageFor(model => model.LastName,  "", new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstMidName, HtmlHelpers.LabelAttributes())
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.FirstMidName, HtmlHelpers.TextBoxAttributes("First Name"))
                @Html.ValidationMessageFor(model => model.FirstMidName,  "", new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HireDate, HtmlHelpers.LabelAttributes())
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.HireDate, HtmlHelpers.TextBoxAttributes("Hire Date"))
                @Html.ValidationMessageFor(model => model.HireDate,  "", new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OfficeAssignment.Location, HtmlHelpers.LabelAttributes())
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.OfficeAssignment.Location, HtmlHelpers.TextBoxAttributes("Office Location"))
                @Html.ValidationMessageFor(model => model.OfficeAssignment.Location,  "", new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Courses</label>
            <div class="col-lg-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<AssignedCourseData> courses = ViewBag.Courses;

                            foreach (AssignedCourseData course in courses)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:  </tr> <tr> 
                                }
                                @: <td>
                                    <input type="checkbox" 
                                           name="selectedCourses" 
                                           value="@course.CourseID" /> 
                                    @course.CourseID @:  @course.Title
                                @:</td>
                            }
                            @: </tr>
                        }
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Create</button>
                <a class="btn btn-default" href="@Url.Action("Index")"><i class="glyphicon glyphicon-arrow-left"></i> Cancel</a>
            </div>
        </div>
    </fieldset>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
